/* Cabecera */
.cabecera__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.cabecera__buscar__item {
  display: none;
}

/* Menu */

.menu__container {
  position: fixed;
  bottom: 0%;
  height: 75px;
  width: 100%;
}


.videos__container{
  display: flex; 
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.videos__item {
  height: 305px;
  width: 280px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.descripcion-video{
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 10px;
}

.menu__lista {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.menu__lista li {
  align-self: center;
}

.menu__itens {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
  display: none;
}

/* Seccion superior */
.superior__seccion__container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  gap: 15px;
}

/* Rodapie */
.rodapie__container {
  display: flex;
  /* flex-direction: column;
   flex-wrap: wrap; */
  flex-flow: column wrap;
}

@media (min-width: 834px) {
  /* Cabecera */
  .cabecera__buscar__item {
    display: block;
  }

  .menu__container {
    top: 80px;
    left: 0;
    height: auto;
    width: 74px;
  }

  .videos__container{
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
  }

  .videos__item {
    height: 305px;
    width: 280px;
    flex-grow: 1;
    
  }


  .menu__lista {
    justify-content: flex-start;
    flex-direction: column;
    gap: 33px;
  }

  /* Rodapie */
  .rodapie__container {
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .menu__container {
    width: 240px;
    overflow: scroll;
  }


.videos__container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

  .videos__item {
    height: 305px;
    width: 280px;
    flex-grow: 1;
    
  }


  
  .menu__lista:nth-child(2),
  .menu__lista:nth-child(3),
  .menu__lista:nth-child(4) {
    display: flex;
  }
  .menu__lista {
    height: auto;
    padding: 20px 17px 20px 15px;
    gap: 15px;
  }

  .menu__lista:nth-child(3) {
    flex-direction: column-reverse;
  }

  .menu__itens {
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  .videojuegos {
    order: 3;
  }
  .peliculas {
    order: 2;
  }
  .premium {
    order: 1;
  }
}
